@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.8rem;
  font-family: "Varela Round", sans-serif;
  background-color: #3a5a40;
  color: #344e41;
}

p {
  padding: 0.1rem;
  margin: 0.1rem;
  align-self: center;
  text-align: center;
}

h3 {
  font-size: 0.8rem;
  text-align: center;
}

button {
  height: 1.5rem;
  border: 0rem;
  border-radius: 1rem;
  background-color: #a3b18a;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  display: grid;
}

.navbar {
  background-color: #dad7cd;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bar-start {
  display: inline-grid;
  justify-self: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.bar-end {
  justify-self: end;
  align-self: center;
}

.nav-logo {
  max-height: 6rem;
  width: auto;
}

.loading {
  display: grid;
  justify-items: center;
}

.loading-image img {
  align-self: center;
  width: 10px;
  height: auto;
}

.hero {
  right: 5rem;
}

.hero-imgs {
  width: 100%;
  height: auto;
  position: relative;
}

.grow-units {
  height: auto;
  padding: 0.1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grow-unit {
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  margin: 0.3rem;
  background-color: #dad7cd;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.grow-unit img {
  border-radius: 1rem;
  max-width: 100%;
  max-height: auto;
}

.hero-grow-unit {
  border-radius: 1rem;
  margin: 0.2rem;
  background-color: #dad7cd;
  display: grid;
  height: auto;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.hero-grow-unit img {
  border-radius: 1rem;
  max-width: 100%;
  max-height: auto;
}

.text-box {
  height: auto;
  display: grid;
  align-self: flex-end;
  align-items: stretch;
  justify-items: stretch;
}

.description {
  font-size: 0.7rem;
}

.accessories {
  height: 33%;
  padding: 0.1rem;
  display: grid;
  margin: 0.3rem;
  grid-template-columns: 1fr 1fr;
}

.accessory {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  margin: 0.2rem;
  background-color: #dad7cd;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.accessory img {
  border-radius: 1rem;
  max-width: 100%;
  max-height: auto;
}

@media screen and (min-width: 48rem) {
  body {
    font-size: 1.4rem;
  }

  button {
    height: 2.5rem;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .navbar {
    margin-top: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .accessory {
    max-height: auto;
    margin: 0.5rem;
  }

  .accessories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .description {
    font-size: 1rem;
  }
}
