@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Varela Round", sans-serif;
  background-image: url("public/imgs/background2.png");
}

p {
  padding: 0.1rem;
  margin: 0.1rem;
  align-self: center;
  text-align: center;
}

#root {
  padding: 0;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bar-start {
  display: inline-grid;
  justify-self: auto;
  grid-template-columns: 1fr 1fr;
}

.bar-end {
  justify-self: end;
  align-self: center;
}

.nav-logo {
  max-height: 6rem;
  width: auto;
}

.hero {
  height: 33%;
  overflow: hidden;
  right: 5rem;
}

.hero-imgs {
  width: 100%;
  max-height: 33%;
  position: relative;
}

.grow-units {
  height: 33%;
  padding: 0.1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grow-unit {
  display: grid;
  justify-content: center;
  margin: 0.2rem;
  background-color: rgb(248, 235, 191);
}

.grow-unit img {
  max-width: 100%;
  max-height: auto;
}

.hero-grow-unit {
  margin: 0.2rem;
  background-color: rgb(248, 235, 191);
  display: grid;
  height: 33%;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

.hero-grow-unit img {
  max-width: 100%;
  max-height: auto;
}

.text-box {
  display: grid;
  justify-content: center;
}

.description {
  font-size: 0.7rem;
}

.accessories {
  height: 33%;
  padding: 0.1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.accessory {
  display: grid;
  justify-content: center;
  margin: 0.2rem;
  background-color: rgb(248, 235, 191);
}

.accessory img {
  max-width: 100%;
  max-height: auto;
}
